.page-container[b-u756gmnvgp] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-u756gmnvgp] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-u756gmnvgp] {
    margin: 0;
}

.rating[b-u756gmnvgp] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

p[b-u756gmnvgp] {
    margin: 0;
    font-size: larger;
}

.rate > i[b-u756gmnvgp] {
    color: #C3BA9B;
    font-size: larger;
}

.btn-submit[b-u756gmnvgp] {
    width: 100%;
    background-color: #4E7779;
    color: #F4F4E9;
    margin-top: 1rem;
}

.review[b-u756gmnvgp] {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}