.page-container[b-z72x14d4zp] {
    width: 100%;
}

.page-header[b-z72x14d4zp] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 0;
}

.page-title[b-z72x14d4zp] {
    margin: 0 0 0 0.5rem;
}

.page-body[b-z72x14d4zp] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 0.5em;
    height: auto;
}

.create-option[b-z72x14d4zp]{
    margin: 0;
}

.trip-form[b-z72x14d4zp] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 1em;
    height: auto;
    border: solid;
    border-radius: 0.35rem;
}

.btn-save[b-z72x14d4zp] {
    background-color: #4CAF50;
    margin: 0.5rem 0 0 0;
    color: white;
}

.btn-round[b-z72x14d4zp] {
    border-radius: 5rem;
    padding: 0.5rem;
}
