.page-container[b-auyx8ihtbf] {
    width: 100%;
    padding: 1.5rem;
}

.top-left[b-auyx8ihtbf] {
    position: absolute;
    top: 8px;
    left: 16px;
}

.images-event[b-auyx8ihtbf] {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    border-radius: 3%;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.tag-container[b-auyx8ihtbf]{
    margin-top: 1rem;
}

.tag-btn[b-auyx8ihtbf] {
    background-color: white;
    color: #625849;
    border-color: #C3BA9B;
    border-radius: 0.75rem;
    margin: 3px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.search-event-button[b-auyx8ihtbf] {
    background-color: green;
    color: white;
    border-color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.btn-container[b-auyx8ihtbf] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#searchButton[b-auyx8ihtbf] {
    margin: 0;
}

#popular[b-auyx8ihtbf] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 2rem;
}

.card[b-auyx8ihtbf] {
    min-width: 220px;
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

.card-img-top[b-auyx8ihtbf] {
    border-radius: 5%;
    width: 218px;
    height: 146px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.card2[b-auyx8ihtbf] {
    min-width: 200px;
}

.card-img-top2[b-auyx8ihtbf] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-auyx8ihtbf] {
    align-content: center;
}

#popular[b-auyx8ihtbf]::-webkit-scrollbar {
    display: none;
}

#categories[b-auyx8ihtbf] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

    #categories[b-auyx8ihtbf]::-webkit-scrollbar {
        display: none;
    }

h4[b-auyx8ihtbf] {
    margin-top: 1.5rem;
}

#categories > .card > img[b-auyx8ihtbf] {
    border-radius: 30%;
}

img-container[b-auyx8ihtbf] {

}

.page-header[b-auyx8ihtbf] {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0.5rem;
}

.event-title-head[b-auyx8ihtbf] {
    align-content: center;
    margin: 0;
    padding: 0.5rem 0;
}

.mod-a[b-auyx8ihtbf] {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-content: center;
}

.hori-center[b-auyx8ihtbf] {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-bottom: 10px;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 70px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

modal-opt-but[b-auyx8ihtbf] {
    background-color: white;
    border: none;
}

.event-info[b-auyx8ihtbf] {
    margin: 1rem 0 0.5rem 0;
    display:flex;
    flex-direction: column;
    gap: 0.1rem;
}

.btn-check:focus + .btn[b-auyx8ihtbf], .btn:focus[b-auyx8ihtbf]{
    box-shadow:none;
}

.modal-start[b-auyx8ihtbf] {
    align-items: start!important;
}

.modal-center[b-auyx8ihtbf] {
    align-items: center !important;
}

.modal-end[b-auyx8ihtbf] {
    align-items: end !important;
}

.modal-background[b-auyx8ihtbf] {
    background-color: white !important;
}

.modal-info[b-auyx8ihtbf] {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    color: #90C7CA;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bi-check-circle[b-auyx8ihtbf], .bi-x-circle[b-auyx8ihtbf] {
    font-size: 10rem;
}

.modal-content[b-auyx8ihtbf] {
    background-color: transparent;
    border-color: transparent;
}

.modal-body[b-auyx8ihtbf] {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.btn-setting[b-auyx8ihtbf] {
    color: #4E7779;
    padding: 0.25rem 0;
    font-weight: 700;
    background-color: #e9e9e9;
    border-radius: 0.5rem;
    font-size: large;
}

.btn-cancel[b-auyx8ihtbf] {
    color: #7E6D53;
}

.form-controls[b-auyx8ihtbf] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-save[b-auyx8ihtbf] {
    background-color: #4E7779;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

.btn-close[b-auyx8ihtbf] {
    margin: 0.5rem 0 0 0;
    color: #7E6D53;
    font-weight: 700;
    width: 100%;
    border: 2px solid #C3BA9B;
    background: none;
    padding: 0.3125rem 0.33rem;
    height: auto;
    opacity: 50;
}

hr[b-auyx8ihtbf] {
    margin: 0.25rem 0;
    background-color: transparent;
}

.card-body[b-auyx8ihtbf]{
    padding: 0.5rem 0.25rem;
}

.card-text[b-auyx8ihtbf]{
    margin:0;
}

#btn-previous[b-auyx8ihtbf] {
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.bi-x-lg[b-auyx8ihtbf]{
    font-size:1.5rem;
}