.page-container[b-dgd59kxs8t] {
    width: 100%;
    padding: 1.5rem;
}

#searchButton[b-dgd59kxs8t] {
    margin: 0;
}

#popular[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card[b-dgd59kxs8t] {
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

#popular[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

#categories[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 1rem;
}

#categories[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

a[b-dgd59kxs8t] {
    text-decoration: none;
    color: black;
}

.card2[b-dgd59kxs8t] {
    min-width: 160px;
    text-align: center;
}

.card-img-top2[b-dgd59kxs8t] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-dgd59kxs8t] {
    align-content: center;
}

.card-img-top[b-dgd59kxs8t] {
    border-radius: 5%;
    width: 218px;
    height: 146px;
}

.bg-light[b-dgd59kxs8t] {
    background-color: white;
}

.card-body[b-dgd59kxs8t] {
    padding: 0.75rem 0.25rem;
}

h4[b-dgd59kxs8t] {
    margin-bottom: 0.75rem;
}

.card-text2[b-dgd59kxs8t] {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}