.page-container[b-wrcy64rnuf] {
    width: 100%;
    padding: 1.5rem;
}

input[type=radio][b-wrcy64rnuf] {
    display: inline;
}

.inp-submit[b-wrcy64rnuf] {
    background-color: white;
    color: #4E7779;
    box-shadow: 5px 5px 5px #ccc;
    border-color: #4E7779;
    border-radius: 10%;
    width: 80px;
    margin-top: 40px;
}

.form-controls[b-wrcy64rnuf] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-cancel[b-wrcy64rnuf] {
    margin: 0.5rem 0 0 0;
    color: #7E6D53;
    font-weight: 700;
    width: 100%;
    border: 2px solid #7E6D53;
    background: none;
    padding: 0.3125rem 0.33rem;
    height: auto;
}

.btn-apply[b-wrcy64rnuf] {
    background-color: #4E7779;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

datalist[b-wrcy64rnuf] {
    display: flex;
    justify-content: space-between;
    color: black;
}