.page-container[b-rmawxqrphl] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-rmawxqrphl] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-rmawxqrphl] {
    margin: 0;
}

.btn-submit[b-rmawxqrphl] {
    width: 100%;
    background-color: #4E7779;
    color: #F4F4E9;
    margin-top: 1rem;
}