.page-container[b-bbl5kbr5ma] {
    width: 100%;
    padding: 0.5rem;
    background-color: #F4F4E9;
}

.page-header[b-bbl5kbr5ma] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
}

.page-body[b-bbl5kbr5ma] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1em;
    height: auto;
}

.page-title[b-bbl5kbr5ma] {
    margin: 0 0 0 1rem;
}

.btn-fixed[b-bbl5kbr5ma] {
    position: fixed;
    bottom: 7.85rem;
    right: 1.5rem;
}

.btn-round[b-bbl5kbr5ma] {
    border-radius: 5rem;
    padding: 0.5rem;
}

.btn-add[b-bbl5kbr5ma] {
    background-color: #4E7779;
    color: white;
}

.form-controls[b-bbl5kbr5ma] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-save[b-bbl5kbr5ma] {
    background-color: #4E7779;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

.btn-close[b-bbl5kbr5ma] {
    margin: 0.5rem 0 0 0;
    color: #7E6D53;
    font-weight: 700;
    width: 100%;
    border: 2px solid #C3BA9B;
    background: none;
    padding: 0.3125rem 0.33rem;
    height: auto;
    opacity: 50;
}

.selected-type[b-bbl5kbr5ma] {
    font-size: 0.85em;
    padding: 0.5em 0.85em;
    margin: 0.25em 0;
    background-color: #C3BA9B;
}

.dropdown-menu-dark .dropdown-item.active[b-bbl5kbr5ma], .dropdown-menu-dark .dropdown-item:active[b-bbl5kbr5ma] {
    background-color: #4E7779;
}

#temp-trip[b-bbl5kbr5ma] {
    margin: 0;
    padding: 1rem;
}

.btn-regenerate[b-bbl5kbr5ma] {
    background-color: #C3BA9B;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}