<div class="plan-card card shadow-sm">
    <div class="card-body">
        <h5 class="card-title">@planName</h5>
        <p class="card-text">@planTime</p>
        <p class="card-text">@planAddress</p>
    </div>
    <button class="btn btn-notify">
        <i class="bi bi-bell-fill"></i>
    </button>
</div>

@code {
    [Parameter]
    public string planName { get; set; } = "";
    [Parameter]
    public string planTime { get; set; } = "";
    [Parameter]
    public string planAddress { get; set; } = "";
}