.card {
    max-width: 11rem;
}

.btn-modal {
    width: fit-content;
    font-size: 1.5rem;
    padding: 0.125rem 0.5rem;
    position: absolute;
    right: -0.5rem;
    top: 5.5rem;
    opacity: 0.9;
    border-radius: 5rem;
    background-color: #90C7CA;
    color: white;
}

    .btn-modal:focus {
        box-shadow: none;
        background-color: #C3BA9B;
    }

.title-smaller {
    font-size: 1rem;
}

.card-text {
    margin: 0;
}

img {
    width: auto;
    height: 7rem;
}
