/* _content/CPSC481/Components/DayPlans.razor.rz.scp.css */
.day-container[b-fhduwdozlg] {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.day-container:last-child[b-fhduwdozlg] {
    margin-bottom: 2rem;
}
/* _content/CPSC481/Components/PlanCard.razor.rz.scp.css */
.plan-card[b-ozac5kjzqk] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.75rem;
    border-radius: 1rem;
    text-align: start;
}

.card-body[b-ozac5kjzqk] {
    padding: 0;
}

.card-title[b-ozac5kjzqk] {
    color: #7E6D53;
    font-weight: 700;
}

.card-text[b-ozac5kjzqk] {
    margin: 0;
    color: black;
}

.btn-notify[b-ozac5kjzqk] {
    margin-top: -0.25rem;
    border-radius: 5rem;
    padding: 0;
    font-size: 1.35rem;
    color: darkgray;
}

.btn-notify:focus[b-ozac5kjzqk] {
    box-shadow: none;
}

    .btn-notify:focus-within[b-ozac5kjzqk] {
        color: #4E7779;
        outline: none;
    }

.modal-dialog-centered[b-ozac5kjzqk] {
    align-items:end;
}
.modal-content[b-ozac5kjzqk] {
    background-color: transparent;
    border-color: transparent;
}

#plan-setting[b-ozac5kjzqk] {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.btn-setting[b-ozac5kjzqk] {
    color: #4E7779;
    padding: 0.25rem 0;
    font-weight: 700;
    background-color: #e9e9e9;
    border-radius: 0.5rem;
    font-size: large;
}

.btn-cancel[b-ozac5kjzqk] {
    color: #7E6D53;
}

hr[b-ozac5kjzqk] {
    margin: 0.25rem 0;
    background-color: transparent;
}
/* _content/CPSC481/Components/QuickAddCard.razor.rz.scp.css */
.card[b-39ls7r44ku] {
    max-width: 11rem;
}

.btn-modal[b-39ls7r44ku] {
    width: fit-content;
    font-size: 1.5rem;
    padding: 0.125rem 0.5rem;
    position: absolute;
    right: -0.5rem;
    top: 5.5rem;
    opacity: 0.9;
    border-radius: 5rem;
    background-color: #90C7CA;
    color: white;
}

    .btn-modal:focus[b-39ls7r44ku] {
        box-shadow: none;
        background-color: #C3BA9B;
    }

.title-smaller[b-39ls7r44ku] {
    font-size: 1rem;
}

.card-text[b-39ls7r44ku] {
    margin: 0;
}

img[b-39ls7r44ku] {
    width: auto;
    height: 7rem;
}
/* _content/CPSC481/Components/TripCard.razor.rz.scp.css */
.trip-card[b-1w2br271js] {
    text-align: left;
    padding: 0;
    border-radius: 1rem;
}

.trip-card:last-child[b-1w2br271js] {
    margin-bottom: 2.25rem;
}

.card-text[b-1w2br271js] {
    margin: 0;
}
/* _content/CPSC481/Pages/AddReview.razor.rz.scp.css */
.page-container[b-u756gmnvgp] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-u756gmnvgp] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-u756gmnvgp] {
    margin: 0;
}

.rating[b-u756gmnvgp] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

p[b-u756gmnvgp] {
    margin: 0;
    font-size: larger;
}

.rate > i[b-u756gmnvgp] {
    color: #C3BA9B;
    font-size: larger;
}

.btn-submit[b-u756gmnvgp] {
    width: 100%;
    background-color: #4E7779;
    color: #F4F4E9;
    margin-top: 1rem;
}

.review[b-u756gmnvgp] {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/* _content/CPSC481/Pages/AmenitySearchPage.razor.rz.scp.css */
.page-container[b-wsutnc8puh] {
    width: 100%;
    padding: 1rem;
}

.event-list[b-wsutnc8puh] {
    padding: 20px 0;
}

.event[b-wsutnc8puh] {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}

    .event img[b-wsutnc8puh] {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 5px;
    }

.search-event-button[b-wsutnc8puh] {
    background-color: white;
    color: #4E7779;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 3px;
    border-radius: 50%;
    border: none;
}

.search-event-button1[b-wsutnc8puh] {
    margin-left: 14px;
    background-color: white;
    color: #4E7779;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 50%;
    border: none;
}

.btn-temp-container[b-wsutnc8puh] {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.tag-btn[b-wsutnc8puh] {
    background-color: white;
    color: #625849;
    border-color: #C3BA9B;
    border-radius: 0.75rem;
    margin: 3px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

body[b-wsutnc8puh] {
}

h5[b-wsutnc8puh], h6[b-wsutnc8puh] {
    color: black;
}

a:link[b-wsutnc8puh] {
    text-decoration: none;
    color: black;
}





body[b-wsutnc8puh] {
    margin: 0;
}

#searchButton[b-wsutnc8puh] {
    margin: 0;
}

#title[b-wsutnc8puh] {
    display: flex;
    gap: 0.7rem;
}

.amenityList[b-wsutnc8puh] {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.amenityListImg[b-wsutnc8puh] {
    height: 60px;
    width: 100px;
    padding: 2px;
}

.description > p[b-wsutnc8puh] {
    font-size: x-small;
    margin-bottom: 0;
    margin-top: 5px;
}

.description[b-wsutnc8puh] {
    width: 205px;
}

img[b-wsutnc8puh] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.btn-container[b-wsutnc8puh] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    gap: 0.5rem;
    padding-right: 0.5rem;
}

.dropdown[b-wsutnc8puh] {
    position: relative;
    display: inline-block;
}

.dropdown-content[b-wsutnc8puh] {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    left: unset;
    right: 100%;
}

    .dropdown-content a[b-wsutnc8puh] {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover[b-wsutnc8puh] {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content[b-wsutnc8puh] {
    display: block;
}

.dropdown:hover .dropbtn[b-wsutnc8puh] {
    background-color: #3e8e41;
}

.btn-sort[b-wsutnc8puh] {
    border: 1px solid grey;
    color: grey !important;
}

.btn-notify[b-wsutnc8puh] {
    font-size: 1.35rem;
    color: darkgray;
}

.btn-add[b-wsutnc8puh] {
    font-size: 1.35rem;
    color: #7E6D53;
}
/* _content/CPSC481/Pages/Bookmarks.razor.rz.scp.css */
.page-container[b-qj1d0e8lxi] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-qj1d0e8lxi] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-qj1d0e8lxi] {
    margin: 0;
}

.bookmark-card[b-qj1d0e8lxi] {
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px #ccc;
}

.card-img-top[b-qj1d0e8lxi]{
    width: 7rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.rating[b-qj1d0e8lxi] {
    color: #C3BA9B;
}

.page-body[b-qj1d0e8lxi]{
    display:flex;
    flex-direction:column;
    gap: 0.5rem;
}

.card-body[b-qj1d0e8lxi] {
    padding: 1rem 1rem 1rem 0.5rem;
}
/* _content/CPSC481/Pages/Edit.razor.rz.scp.css */
.page-container[b-hs1pddvul6] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-hs1pddvul6] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-hs1pddvul6] {
    margin:0;
}

.bi-arrow-left[b-hs1pddvul6] {
    font-size: 1.5rem;
}

.btn-save[b-hs1pddvul6] {
    color: white;
    background-color: #7E6D53;
}

.user-avatar[b-hs1pddvul6] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    opacity:0.75;
}

.bi-person-circle[b-hs1pddvul6] {
    font-size: 10rem;
    width: fit-content;
    height: 200px;
    margin-top: -1.5rem;
}

.btn-edit[b-hs1pddvul6] {
    outline: solid;
    border-radius: 5rem;
    color: #F4F4E9;
    position: absolute;
    right: 8rem;
    top: 16rem;
    background-color: #4E7779;
}

.bi-pencil-fill[b-hs1pddvul6]{
    font-size: large;
}

.btn-check:focus + .btn[b-hs1pddvul6], .btn:focus[b-hs1pddvul6] {
    box-shadow:none;
}

.modal-dialog-centered[b-hs1pddvul6] {
    align-items: end;
}

.modal-content[b-hs1pddvul6] {
    background-color: transparent;
    border-color: transparent;
}

#plan-setting[b-hs1pddvul6] {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.btn-setting[b-hs1pddvul6] {
    color: #4E7779;
    padding: 0.25rem 0;
    font-weight: 700;
    background-color: #e9e9e9;
    border-radius: 0.5rem;
    font-size: large;
}

.btn-cancel[b-hs1pddvul6] {
    color: #7E6D53;
}

hr[b-hs1pddvul6] {
    margin: 0.25rem 0;
    background-color: transparent;
}
/* _content/CPSC481/Pages/EventPage.razor.rz.scp.css */
.page-container[b-auyx8ihtbf] {
    width: 100%;
    padding: 1.5rem;
}

.top-left[b-auyx8ihtbf] {
    position: absolute;
    top: 8px;
    left: 16px;
}

.images-event[b-auyx8ihtbf] {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    border-radius: 3%;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.tag-container[b-auyx8ihtbf]{
    margin-top: 1rem;
}

.tag-btn[b-auyx8ihtbf] {
    background-color: white;
    color: #625849;
    border-color: #C3BA9B;
    border-radius: 0.75rem;
    margin: 3px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.search-event-button[b-auyx8ihtbf] {
    background-color: green;
    color: white;
    border-color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.btn-container[b-auyx8ihtbf] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#searchButton[b-auyx8ihtbf] {
    margin: 0;
}

#popular[b-auyx8ihtbf] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 2rem;
}

.card[b-auyx8ihtbf] {
    min-width: 220px;
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

.card-img-top[b-auyx8ihtbf] {
    border-radius: 5%;
    width: 218px;
    height: 146px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.card2[b-auyx8ihtbf] {
    min-width: 200px;
}

.card-img-top2[b-auyx8ihtbf] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-auyx8ihtbf] {
    align-content: center;
}

#popular[b-auyx8ihtbf]::-webkit-scrollbar {
    display: none;
}

#categories[b-auyx8ihtbf] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

    #categories[b-auyx8ihtbf]::-webkit-scrollbar {
        display: none;
    }

h4[b-auyx8ihtbf] {
    margin-top: 1.5rem;
}

#categories > .card > img[b-auyx8ihtbf] {
    border-radius: 30%;
}

img-container[b-auyx8ihtbf] {

}

.page-header[b-auyx8ihtbf] {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0.5rem;
}

.event-title-head[b-auyx8ihtbf] {
    align-content: center;
    margin: 0;
    padding: 0.5rem 0;
}

.mod-a[b-auyx8ihtbf] {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-content: center;
}

.hori-center[b-auyx8ihtbf] {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-bottom: 10px;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 70px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

modal-opt-but[b-auyx8ihtbf] {
    background-color: white;
    border: none;
}

.event-info[b-auyx8ihtbf] {
    margin: 1rem 0 0.5rem 0;
    display:flex;
    flex-direction: column;
    gap: 0.1rem;
}

.btn-check:focus + .btn[b-auyx8ihtbf], .btn:focus[b-auyx8ihtbf]{
    box-shadow:none;
}

.modal-start[b-auyx8ihtbf] {
    align-items: start!important;
}

.modal-center[b-auyx8ihtbf] {
    align-items: center !important;
}

.modal-end[b-auyx8ihtbf] {
    align-items: end !important;
}

.modal-background[b-auyx8ihtbf] {
    background-color: white !important;
}

.modal-info[b-auyx8ihtbf] {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    color: #90C7CA;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bi-check-circle[b-auyx8ihtbf], .bi-x-circle[b-auyx8ihtbf] {
    font-size: 10rem;
}

.modal-content[b-auyx8ihtbf] {
    background-color: transparent;
    border-color: transparent;
}

.modal-body[b-auyx8ihtbf] {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.btn-setting[b-auyx8ihtbf] {
    color: #4E7779;
    padding: 0.25rem 0;
    font-weight: 700;
    background-color: #e9e9e9;
    border-radius: 0.5rem;
    font-size: large;
}

.btn-cancel[b-auyx8ihtbf] {
    color: #7E6D53;
}

.form-controls[b-auyx8ihtbf] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-save[b-auyx8ihtbf] {
    background-color: #4E7779;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

.btn-close[b-auyx8ihtbf] {
    margin: 0.5rem 0 0 0;
    color: #7E6D53;
    font-weight: 700;
    width: 100%;
    border: 2px solid #C3BA9B;
    background: none;
    padding: 0.3125rem 0.33rem;
    height: auto;
    opacity: 50;
}

hr[b-auyx8ihtbf] {
    margin: 0.25rem 0;
    background-color: transparent;
}

.card-body[b-auyx8ihtbf]{
    padding: 0.5rem 0.25rem;
}

.card-text[b-auyx8ihtbf]{
    margin:0;
}

#btn-previous[b-auyx8ihtbf] {
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.bi-x-lg[b-auyx8ihtbf]{
    font-size:1.5rem;
}
/* _content/CPSC481/Pages/Events.razor.rz.scp.css */
.page-container[b-qpqwqbbvb1] {
    width: 100%;
    padding: 1.5rem;
}

#searchButton[b-qpqwqbbvb1] {
    margin: 0;
}

#popular[b-qpqwqbbvb1] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card[b-qpqwqbbvb1] {
    min-width: 220px;
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

.card-img-top[b-qpqwqbbvb1] {
    border-radius: 5%;
    width: 218px;
    height: 146px;
}

.card2[b-qpqwqbbvb1] {
    min-width: 10rem;
    margin-right: 1.5rem;
}

.card-img-top2[b-qpqwqbbvb1] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-qpqwqbbvb1] {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

#popular[b-qpqwqbbvb1]::-webkit-scrollbar {
    display: none;
}

#categories[b-qpqwqbbvb1] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 1rem;
}

    #categories[b-qpqwqbbvb1]::-webkit-scrollbar {
        display: none;
    }

p[b-qpqwqbbvb1] {
    margin-bottom: 0rem;
}

#categories > .card > img[b-qpqwqbbvb1] {
    border-radius: 30%;
}

.card-body[b-qpqwqbbvb1]{
    padding: 0.75rem 0.25rem;
}

h4[b-qpqwqbbvb1] {
    margin-bottom: 0.75rem;
}
/* _content/CPSC481/Pages/EventsFilter.razor.rz.scp.css */
.page-container[b-l2yi30aqmu] {
    width: 100%;
    padding: 1.5rem;
}

input[type=radio][b-l2yi30aqmu] {
    display: inline;
}

.inp-submit[b-l2yi30aqmu] {
    background-color: white;
    color: #4E7779;
    box-shadow: 5px 5px 5px #ccc;
    border-color: #4E7779;
    border-radius: 10%;
    width: 80px;
    margin-top: 40px;
}

.form-controls[b-l2yi30aqmu] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-cancel[b-l2yi30aqmu] {
    margin: 0.5rem 0 0 0;
    color: #7E6D53;
    font-weight: 700;
    width: 100%;
    border: 2px solid #7E6D53;
    background: none;
    padding: 0.3125rem 0.33rem;
    height: auto;
}

.btn-apply[b-l2yi30aqmu] {
    background-color: #4E7779;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}
/* _content/CPSC481/Pages/EventsSearch.razor.rz.scp.css */
.page-container[b-eulzkcmefz] {
    width: 100%;
    padding: 1rem;
}

.event-list[b-eulzkcmefz] {
    padding: 20px 0;
}

.event[b-eulzkcmefz] {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 15px;
}

.event img[b-eulzkcmefz] {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 5px;
}

.search-event-button[b-eulzkcmefz] {
    background-color: white;
    color: #4E7779;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 3px;
    border-radius: 50%;
    border: none;
}

.search-event-button1[b-eulzkcmefz] {
    margin-left: 14px;
    background-color: white;
    color: #4E7779;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 50%;
    border: none;
}

.btn-temp-container[b-eulzkcmefz] {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.tag-btn[b-eulzkcmefz] {
    background-color: white;
    color: #625849;
    border-color: #C3BA9B;
    border-radius: 0.75rem;
    margin: 3px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

body[b-eulzkcmefz] {
}

h5[b-eulzkcmefz], h6[b-eulzkcmefz] {
    color: black;
}

a:link[b-eulzkcmefz] {
    text-decoration: none;
    color: black;
}





body[b-eulzkcmefz] {
    margin: 0;
}

#searchButton[b-eulzkcmefz] {
    margin: 0;
}

#title[b-eulzkcmefz] {
    display: flex;
    gap: 0.7rem;
}

.amenityList[b-eulzkcmefz] {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.amenityListImg[b-eulzkcmefz] {
    height: 60px;
    width: 100px;
    padding: 2px;
}

.description > p[b-eulzkcmefz] {
    font-size: x-small;
    margin-bottom: 0;
    margin-top: 5px;
}

.description[b-eulzkcmefz] {
    width: 205px;
}

img[b-eulzkcmefz] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.btn-container[b-eulzkcmefz] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: end;
    gap: 0.5rem;
    padding-right: 0.5rem;
}

.dropdown[b-eulzkcmefz] {
    position: relative;
    display: inline-block;
    
}

.dropdown-content[b-eulzkcmefz] {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    left: unset;
    right: 100%;
}

    .dropdown-content a[b-eulzkcmefz] {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover[b-eulzkcmefz] {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content[b-eulzkcmefz] {
    display: block;
}

.dropdown:hover .dropbtn[b-eulzkcmefz] {
    background-color: #3e8e41;
}

.btn-sort[b-eulzkcmefz] {
    border: 1px solid grey;
    color: grey!important;
}

.btn-notify[b-eulzkcmefz] {
    font-size: 1.35rem;
    color: darkgray;
}

.btn-add[b-eulzkcmefz] {
    font-size: 1.35rem;
    color: #7E6D53;
}
/* _content/CPSC481/Pages/ExplorePage.razor.rz.scp.css */
.page-container[b-dgd59kxs8t] {
    width: 100%;
    padding: 1.5rem;
}

#searchButton[b-dgd59kxs8t] {
    margin: 0;
}

#popular[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card[b-dgd59kxs8t] {
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

#popular[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

#categories[b-dgd59kxs8t] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 1rem;
}

#categories[b-dgd59kxs8t]::-webkit-scrollbar {
    display: none;
}

a[b-dgd59kxs8t] {
    text-decoration: none;
    color: black;
}

.card2[b-dgd59kxs8t] {
    min-width: 160px;
    text-align: center;
}

.card-img-top2[b-dgd59kxs8t] {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2[b-dgd59kxs8t] {
    align-content: center;
}

.card-img-top[b-dgd59kxs8t] {
    border-radius: 5%;
    width: 218px;
    height: 146px;
}

.bg-light[b-dgd59kxs8t] {
    background-color: white;
}

.card-body[b-dgd59kxs8t] {
    padding: 0.75rem 0.25rem;
}

h4[b-dgd59kxs8t] {
    margin-bottom: 0.75rem;
}

.card-text2[b-dgd59kxs8t] {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
/* _content/CPSC481/Pages/ExplorePageFilter.razor.rz.scp.css */
.page-container[b-wrcy64rnuf] {
    width: 100%;
    padding: 1.5rem;
}

input[type=radio][b-wrcy64rnuf] {
    display: inline;
}

.inp-submit[b-wrcy64rnuf] {
    background-color: white;
    color: #4E7779;
    box-shadow: 5px 5px 5px #ccc;
    border-color: #4E7779;
    border-radius: 10%;
    width: 80px;
    margin-top: 40px;
}

.form-controls[b-wrcy64rnuf] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-cancel[b-wrcy64rnuf] {
    margin: 0.5rem 0 0 0;
    color: #7E6D53;
    font-weight: 700;
    width: 100%;
    border: 2px solid #7E6D53;
    background: none;
    padding: 0.3125rem 0.33rem;
    height: auto;
}

.btn-apply[b-wrcy64rnuf] {
    background-color: #4E7779;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

datalist[b-wrcy64rnuf] {
    display: flex;
    justify-content: space-between;
    color: black;
}
/* _content/CPSC481/Pages/ForgetPass.razor.rz.scp.css */
.page-container[b-rmawxqrphl] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-rmawxqrphl] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-rmawxqrphl] {
    margin: 0;
}

.btn-submit[b-rmawxqrphl] {
    width: 100%;
    background-color: #4E7779;
    color: #F4F4E9;
    margin-top: 1rem;
}
/* _content/CPSC481/Pages/IndividualAmenityPage.razor.rz.scp.css */
.page-container[b-twwcbedlsd] {
    width: 100%;
    padding: 1.5rem;
}

body[b-twwcbedlsd] {
    margin: 0;
}

#carouselExampleIndicators[b-twwcbedlsd] {
    margin-bottom: 1rem;
}

.carousel-inner[b-twwcbedlsd] {
    width: 100%;
    height: 10rem;
    border-radius: 3%;
}

.top[b-twwcbedlsd] {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content:center;
}

.buttons[b-twwcbedlsd] {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ratings[b-twwcbedlsd] {
    color: #4E7779;
    font-size: larger;
    display:flex;
    align-items:center;
    gap:0.35rem;
}

.tags > span[b-twwcbedlsd] {
    background-color: white;
    border: solid 1px #4E7779;
    color: #4E7779;
    border-radius: 0.75rem;
    margin: 3px;
    margin-top: 10px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.tag-container[b-twwcbedlsd] {
    margin: 0.5rem 0;
}

.tag-btn[b-twwcbedlsd] {
    background-color: white;
    color: #625849;
    border-color: #C3BA9B;
    border-radius: 0.75rem;
    margin: 3px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.tags[b-twwcbedlsd] {
    margin-bottom: 10px;
}

#bookmark[b-twwcbedlsd] {
    width: 4rem;
}

#itinerary[b-twwcbedlsd] {
    width: 4rem;
}

#similar-amenities[b-twwcbedlsd] {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 1rem;
}

#similar-amenities[b-twwcbedlsd]::-webkit-scrollbar {
    display: none;
}

a[b-twwcbedlsd] {
    text-decoration: none;
    color: black;
}

.title[b-twwcbedlsd] {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 0.5rem;
}

.event-title-head[b-twwcbedlsd] {
    align-content: center;
    margin: 0;
    padding: 0.5rem 0;
}

#btn-previous[b-twwcbedlsd] {
    color: #000;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.bi-x-lg[b-twwcbedlsd] {
    font-size: 1.5rem;
}

.reviews[b-twwcbedlsd] {
    display: flex;
    flex-direction: column;
    gap: 0.275rem;
    margin-bottom: 1rem;
    outline: 0.15rem solid #C3BA9B;
    border-radius: 0.5rem;
    background-color: white;
}

.review-header[b-twwcbedlsd] {
    background-color: #C3BA9B;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #7E6D53;
}

.review-body[b-twwcbedlsd] {
    padding: 0.5rem;
}

.card-img-top2[b-twwcbedlsd] {
    height: 3rem;
    width: 3rem;
}

.card-body2[b-twwcbedlsd] {
    display: flex;
    flex-direction: row;
    border-radius: 0.25rem;
    gap: 5%;
}

hr[b-twwcbedlsd] {
    margin: 0.5rem 0;
}

.card-description2[b-twwcbedlsd] {
    width: 100%;
}

.card[b-twwcbedlsd] {
    border: none;
}

.add-review[b-twwcbedlsd] {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    color: #F4F4E9;
    background-color: #7E6D53;
}

h6[b-twwcbedlsd] {
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.card-description2 > p[b-twwcbedlsd] {
    margin-bottom: 0.2rem;
}

.description > p[b-twwcbedlsd] {
    margin-bottom: 0.2rem;
}

.description[b-twwcbedlsd] {
    margin-bottom: 1rem;
}

.amenity-address[b-twwcbedlsd]{
    margin:0;
}

.show-more[b-twwcbedlsd] {
    background-color: white;
    text-align: center;
    justify-content: center;
    color: blue;
    width: fit-content;
    margin: auto;
}

.card-img-top[b-twwcbedlsd] {
    border-radius: 5%;
    width: 218px;
    height: 146px;
    box-shadow: 2.5px 2.5px 2.5px #ccc;
}

.similar[b-twwcbedlsd]{
    margin-top:1.5rem;
}

.card-body[b-twwcbedlsd] {
    padding: 0.5rem 0.25rem;
}

.modal-start[b-twwcbedlsd] {
    align-items: start !important;
}

.modal-center[b-twwcbedlsd] {
    align-items: center !important;
}

.modal-end[b-twwcbedlsd] {
    align-items: end !important;
}

.modal-background[b-twwcbedlsd] {
    background-color: white !important;
}

.modal-info[b-twwcbedlsd] {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    color: #90C7CA;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bi-check-circle[b-twwcbedlsd], .bi-x-circle[b-twwcbedlsd] {
    font-size: 10rem;
}

.modal-content[b-twwcbedlsd] {
    background-color: transparent;
    border-color: transparent;
}

.modal-body[b-twwcbedlsd] {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.btn-setting[b-twwcbedlsd] {
    color: #4E7779;
    padding: 0.25rem 0;
    font-weight: 700;
    background-color: #e9e9e9;
    border-radius: 0.5rem;
    font-size: large;
}

.btn-cancel[b-twwcbedlsd] {
    color: #7E6D53;
}

.form-controls[b-twwcbedlsd] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-save[b-twwcbedlsd] {
    background-color: #4E7779;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

.btn-close[b-twwcbedlsd] {
    margin: 0.5rem 0 0 0;
    color: #7E6D53;
    font-weight: 700;
    width: 100%;
    border: 2px solid #C3BA9B;
    background: none;
    padding: 0.3125rem 0.33rem;
    height: auto;
    opacity: 50;
}

hr[b-twwcbedlsd] {
    margin: 0.25rem 0;
    background-color: transparent;
}

.btn-check:focus + .btn[b-twwcbedlsd], .btn:focus[b-twwcbedlsd] {
    box-shadow: none;
}
/* _content/CPSC481/Pages/Login.razor.rz.scp.css */
.page-container[b-jy2k4ww65p] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-jy2k4ww65p] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-jy2k4ww65p],p[b-jy2k4ww65p] {
    margin: 0;
}

.form-controls[b-jy2k4ww65p] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap:0.5rem;
    margin-top:1.5rem;
}

.btn-login[b-jy2k4ww65p] {
    background-color: #4E7779;
    color: #F4F4E9;
    width:100%;
}

.alterns[b-jy2k4ww65p] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn-signup[b-jy2k4ww65p] {
    color: #7E6D53;
    outline: solid;
    width: 100%;
}
/* _content/CPSC481/Pages/Login_for_new_user.razor.rz.scp.css */
.page-container[b-28y4easfh1] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-28y4easfh1] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-28y4easfh1], p[b-28y4easfh1] {
    margin: 0;
}

.form-controls[b-28y4easfh1] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.btn-login[b-28y4easfh1] {
    background-color: #4E7779;
    color: #F4F4E9;
    width: 100%;
}

.alterns[b-28y4easfh1] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn-signup[b-28y4easfh1] {
    color: #7E6D53;
    outline: solid;
    width: 100%;
}
/* _content/CPSC481/Pages/Profile.razor.rz.scp.css */
.page-container[b-hp3prv8cmq] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-hp3prv8cmq]{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

h3[b-hp3prv8cmq] {
    margin:0;
}

.btn-edit[b-hp3prv8cmq] {
    color: #4E7779;
}

.bi-pencil-square[b-hp3prv8cmq] {
    font-size: 1.5rem;
}

.bi-person-fill[b-hp3prv8cmq] {
    font-size: 10rem;
    width:fit-content;
    height:200px;
    margin-top: -1.5rem;
}

.user-info[b-hp3prv8cmq] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-choices[b-hp3prv8cmq] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:1rem;
    margin: 1.5rem 0;
}

    .user-choices > a[b-hp3prv8cmq] {
        text-decoration: none;
        color: #F4F4E9;
        font-size: large;
    }

.btn-choice[b-hp3prv8cmq] {
    width: 100%;
    background-color: #4E7779;
    color: #F4F4E9;
}

.btn-logout[b-hp3prv8cmq] {
    width: 100%;
    background-color: #7E6D53;
    color: #F4F4E9;
    margin-top: 0.5rem;
}
/* _content/CPSC481/Pages/ProfileGuest.razor.rz.scp.css */
.page-container[b-fa2yf03e9g]
{
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    padding:3rem;
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.btn-signup[b-fa2yf03e9g] {
    width:100%;
    background-color: #7E6D53;
    color: #F4F4E9;
    font-size:larger;
}

.btn-login[b-fa2yf03e9g] {
    width: 100%;
    background-color: #4E7779;
    color: #F4F4E9;
    font-size: larger;
}
/* _content/CPSC481/Pages/Reviews.razor.rz.scp.css */
.page-container[b-doa07bcavk] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-doa07bcavk] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-doa07bcavk] {
    margin: 0;
}

.review-header[b-doa07bcavk] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.card-body > p[b-doa07bcavk] {
    margin-bottom: 0;
}

.page-body[b-doa07bcavk] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.review-card[b-doa07bcavk] {
    box-shadow: 1px 1px 1px #ccc;
}

.rating[b-doa07bcavk] {
    color: #C3BA9B;
}

.card-text[b-doa07bcavk] {
    color: #4E7779
}
/* _content/CPSC481/Pages/Settings.razor.rz.scp.css */
.page-container[b-hpympjh06k] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-hpympjh06k] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-hpympjh06k], h6[b-hpympjh06k] {
    margin: 0;
}

p[b-hpympjh06k] {
    color: grey;
}

.offline[b-hpympjh06k] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.offline > h6[b-hpympjh06k]{
    font-weight: 700;
}

.bi-toggle-on[b-hpympjh06k] {
    font-size: 2rem;
    color: #4E7779;
}

.btn-delete[b-hpympjh06k] {
    background-color: #7E6D53;
    color: #F4F4E9;
}
/* _content/CPSC481/Pages/Signup.razor.rz.scp.css */
.page-container[b-5zgfmlhjf0] {
    width: 100%;
    padding: 1.75rem;
}

.page-header[b-5zgfmlhjf0] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3[b-5zgfmlhjf0] {
    margin: 0;
}

.btn-signup[b-5zgfmlhjf0] {
    width: 100%;
    background-color: #4E7779;
    color: #F4F4E9;
    margin-top: 1rem;
}
/* _content/CPSC481/Pages/TripMainPage.razor.rz.scp.css */
.page-container[b-bbl5kbr5ma] {
    width: 100%;
    padding: 0.5rem;
    background-color: #F4F4E9;
}

.page-header[b-bbl5kbr5ma] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 0 1rem 0;
}

.page-body[b-bbl5kbr5ma] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1em;
    height: auto;
}

.page-title[b-bbl5kbr5ma] {
    margin: 0 0 0 1rem;
}

.btn-fixed[b-bbl5kbr5ma] {
    position: fixed;
    bottom: 7.85rem;
    right: 1.5rem;
}

.btn-round[b-bbl5kbr5ma] {
    border-radius: 5rem;
    padding: 0.5rem;
}

.btn-add[b-bbl5kbr5ma] {
    background-color: #4E7779;
    color: white;
}

.form-controls[b-bbl5kbr5ma] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-save[b-bbl5kbr5ma] {
    background-color: #4E7779;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

.btn-close[b-bbl5kbr5ma] {
    margin: 0.5rem 0 0 0;
    color: #7E6D53;
    font-weight: 700;
    width: 100%;
    border: 2px solid #C3BA9B;
    background: none;
    padding: 0.3125rem 0.33rem;
    height: auto;
    opacity: 50;
}

.selected-type[b-bbl5kbr5ma] {
    font-size: 0.85em;
    padding: 0.5em 0.85em;
    margin: 0.25em 0;
    background-color: #C3BA9B;
}

.dropdown-menu-dark .dropdown-item.active[b-bbl5kbr5ma], .dropdown-menu-dark .dropdown-item:active[b-bbl5kbr5ma] {
    background-color: #4E7779;
}

#temp-trip[b-bbl5kbr5ma] {
    margin: 0;
    padding: 1rem;
}

.btn-regenerate[b-bbl5kbr5ma] {
    background-color: #C3BA9B;
    margin: 0.5rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}
/* _content/CPSC481/Pages/TripPage.razor.rz.scp.css */
.page-container[b-6inhuixx6h] {
    width: 100%;
    background: rgb(195,186,155);
    background: linear-gradient(180deg, rgba(195,186,155,1) 0%, rgba(244,244,233,1) 35%, rgba(255,255,255,1) 100%);
    padding: 0.5rem;
}

.page-header[b-6inhuixx6h] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;

}

.page-body[b-6inhuixx6h] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 1em;
    height: auto;
}

.btn-round[b-6inhuixx6h] {
    border-radius: 5rem;
    padding: 0.5rem;
    position:absolute;
    right: 1.5rem;
}

.page-title[b-6inhuixx6h] {
    margin: 0;
}

.btn-fixed[b-6inhuixx6h] {
    position: fixed;
    bottom: 11rem;
    right: 0;
}

.btn-add[b-6inhuixx6h] {
    background-color: #4E7779;
    color: white;
}

#quick-add[b-6inhuixx6h] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: x-small;
    gap: 0.5rem;
    height: auto;
}

#new-plan[b-6inhuixx6h] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: small;
    width: 100%;
    padding: 0 0.5rem;
}

.dropdown-menu-dark .dropdown-item.active[b-6inhuixx6h], .dropdown-menu-dark .dropdown-item:active[b-6inhuixx6h] {
    background-color: #4E7779;
}

.plan-form[b-6inhuixx6h] {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.5rem 1em 2rem 1em;
    height: auto;
    width: 100%;
}

.form-controls[b-6inhuixx6h] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 0.75rem 0 0.25rem 0;
    margin-top: 0.75rem;
}

.btn-save[b-6inhuixx6h] {
    background-color: #4E7779;
    margin: 1rem 0 0 0;
    color: white;
    width: 100%;
    border: 2px solid transparent;
}

.btn-settings[b-6inhuixx6h]{
    position:relative;
    right:0;
}
/* _content/CPSC481/Shared/MainLayout.razor.rz.scp.css */
*[b-7zfj4j95sg] {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.page[b-7zfj4j95sg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-7zfj4j95sg] {
    flex: 1;
    width: 100%;
}

article[b-7zfj4j95sg] {
    height: 800px;
    overflow: scroll;
}

.sidebar[b-7zfj4j95sg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.navbar[b-7zfj4j95sg] {
    padding: 0;
    height: fit-content;
}

.top-row[b-7zfj4j95sg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-7zfj4j95sg]  a, .top-row .btn-link[b-7zfj4j95sg] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-7zfj4j95sg] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-7zfj4j95sg] {
        display: none;
    }

    .top-row.auth[b-7zfj4j95sg] {
        justify-content: space-between;
    }

    .top-row a[b-7zfj4j95sg], .top-row .btn-link[b-7zfj4j95sg] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-7zfj4j95sg] {
        flex-direction: row;
    }

    .sidebar[b-7zfj4j95sg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-7zfj4j95sg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-7zfj4j95sg], article[b-7zfj4j95sg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/CPSC481/Shared/NavMenu.razor.rz.scp.css */
.oi[b-sl09fl9cl6] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navbar[b-sl09fl9cl6] {
    width: 100%;
    border-top: 0.1rem solid lightgray;
}

.navbar-nav[b-sl09fl9cl6] {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.nav-item[b-sl09fl9cl6] {
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

.nav-item[b-sl09fl9cl6]  a {
    color: #d7d7d7;
    border-radius: 4px;
    display: flex;
    align-items: center;
    line-height: 2rem;
}

.nav-item[b-sl09fl9cl6]  a.active {
    background-color: rgba(255,255,255,1);
    color: white;
}

.nav-item[b-sl09fl9cl6]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.navbar-nav .nav-link:focus[b-sl09fl9cl6], .navbar-light .nav-link:hover[b-sl09fl9cl6] {
    color: #C3BA9B;
}

.nav-link[b-sl09fl9cl6] {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

