.page-container {
    width: 100%;
    padding: 0.5rem;
}

.page-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 0 1rem;
}

.page-title {
    margin: 0;
}

.plan-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 2rem 1em;
    height: auto;
}

.btn-save {
    background-color: #4E7779;
    margin: 1rem 0;
    color: white;
}

.btn-round {
    border-radius: 5rem;
    padding: 0.5rem;
    position: absolute;
    right: 1.5rem;
}