@page "/addreview"

<div class="page-container">
    <div class="page-header">
        <h3>Rate <b>Wyndham Garden Calgary Airport</b></h3>
        <button class="btn btn-close"></button>
    </div>
    <hr>

    <div class="page-body">
        <form class="forget-form">
            <div class="rating">
                <p for="floatingTextarea">Your Rating</p>
                <div class="rate">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
            </div>
            
            <div class="review">
                <p for="floatingTextarea">Your Review</p>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px"></textarea>
            </div>

            <div class="form-controls">
                <button type="submit" class="btn btn-submit">Submit</button>
            </div>
        </form>
    </div>
</div>