@page "/addtrip"

<PageTitle>Add a New Trip</PageTitle>

<div class="page-container">
    <div class="page-header">
        <button type="button" class="btn btn-round">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </button>
        <p class="text-wrap fs-4 fw-bold page-title">Add a Trip</p>
    </div>

    <div class="page-body">
        <form class="trip-form">
            <h5 class="create-option">Create an Empty Trip</h5>
            <div class="form-floating mt-3 mb-3">
                <input type="text" class="form-control" id="tripName" placeholder="unknown" required>
                <label for="tripName">Trip Name</label>
            </div>

            <button type="submit" class="btn btn-save">Create</button>
        </form>

        <form class="trip-form">
            <h5 class="create-option">Create a Suggested Trip</h5>
            <div class="form-floating mt-3 mb-3">
                <input type="date" class="form-control" id="startDate" required>
                <label for="startDate&Time">Start Date</label>
            </div>

            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="endDate" required>
                <label for="endDate">End Date</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" aria-label="trip types">
                    <option selected></option>
                    <option value="outdoor">Outdoor</option>
                    <option value="shopping">Shopping</option>
                    <option value="monuments">Monuments</option>
                    <option value="nature">Nature</option>
                    <option value="art">Art</option>
                    <option value="culture">Culture</option>
                    <option value="park">Park</option>
                    <option value="games">Games</option>
                    <option value="sports">Sports</option>
                    <option value="museums">Museums</option>
                </select>
                <label>Desired Types of Trip</label>
            </div>

            <div class="selected-types">
                <span class="badge rounded-pill selected-type">Outdoor</span>
                <span class="badge rounded-pill selected-type">Shopping</span>
                <span class="badge rounded-pill selected-type">Monuments</span>
                <span class="badge rounded-pill selected-type">Nature</span>
                <span class="badge rounded-pill selected-type">Art</span>
                <span class="badge rounded-pill selected-type">Culture</span>
                <span class="badge rounded-pill selected-type">Park</span>
                <span class="badge rounded-pill selected-type">Games</span>
                <span class="badge rounded-pill selected-type">Sports</span>
                <span class="badge rounded-pill selected-type">Museums</span>
            </div>

            <button type="submit" class="btn btn-save">Create</button>
        </form>
    </div>
</div>

@code {

}