@page "/addtrip"

<PageTitle>Add a New Trip</PageTitle>

<div class="page-container">
    <div class="page-header">
        <button type="button" class="btn btn-round">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </button>
        <p class="text-wrap fs-4 fw-bold page-title">Add a Trip</p>
    </div>

    <div class="page-body">
        
        <form class="trip-form">
            <h5 class="create-option">Create an Empty Trip</h5>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="tripName" placeholder="unknown" required>
                <label for="tripName">Trip Name</label>
            </div>

            <button type="submit" class="btn btn-save">Create</button>
        </form>

        
        <form class="trip-form">
            <h5 class="create-option">Create a Suggested Trip</h5>
            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="startDate" required>
                <label for="startDate&Time">Start Date</label>
            </div>

            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="endDate" required>
                <label for="endDate">End Date</label>
            </div>

            <button type="submit" class="btn btn-save">Create</button>
        </form>
    </div>
</div>

@code {

}