body {
    margin: 0;
}

#searchButton {
    margin: 0;
}

#title {
    display: flex;
    gap: 0.7rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card-img-top {
    height: 5rem;
    width: 4rem;
    border-radius: 20%;
}

.card-body {
    display: flex;
    flex-direction: row;
    font-size: smaller;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 0.25rem;
    gap: 5%;
}

.card-description {
    width: 14rem;
}

a {
    text-decoration: none;
    color: black;
}
