@page "/bookmarkspage"
<link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">

<div class="page-container">
    <div class="page-header">
        <h3>Bookmarks</h3>   
        <button class="btn btn-close"></button>
    </div>
    <hr>

    <div class="page-body">
        <div class="card bookmark-card">
            <img class="card-img-top" src="https://cdn.getyourguide.com/img/tour/6141925c2a7c0.jpeg/146.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Calgary Towers</h5>
                <div class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
            </div>
        </div>
        <div class="card bookmark-card">
            <img class="card-img-top" src="https://www.wyndhamhotels.com/content/dam/property-images/en-us/gn/ca/ab/calgary/45999/45999_exterior_view_1.jpg?crop=3000:2000;*,*&downsize=720:*" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Wyndham Garden Calgary Airport</h5>
                <div class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                    <i class="bi bi-star"></i>
                </div>
            </div>
        </div>
        <div class="card bookmark-card">
            <img class="card-img-top" src="https://img.atlasobscura.com/1pWgdedWbwnLpwqQCe5hg_JkeHE7UF7LIimICQ7YB-0/rs:fill:780:520:1/g:ce/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL3BsYWNl/X2ltYWdlcy9kNWY2/MzliNS0yYTVkLTRk/ZDItYjkyOS04ZDQx/YTdiNjk0M2E0Y2E5/NmU3MDkyYjFmZWU2/ZTRfODA2ODExODYw/MV8zZmU5MmZjMWNk/X28uanBn.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Peace Bridge</h5>
                <div class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
            </div>
        </div>
    </div>
</div>
