@page "/editpage"
<link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">
<!-- <PageTitle> Profile Page </PageTitle> -->

<!DOCTYPE HTML>
<html>
<head>
    <title> Edit </title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2 col-sm-2">
            <NavLink class="nav-link text-light" href="profilepage">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </NavLink>
        </div>
        <div class="col-8 col-sm-8">
            <h1> Edit Profile </h1>
        </div>
        <div class="col-2 col-sm-2" style="border:1px solid #FFFFFF; display:flex; justify-content:right">
            <button class="btn btn-outline-success"> Save </button>
        </div>
    </div>
    <hr>
    <p style="text-align:center;"> ~You can edit your profile down here~</p>
    <div class="row">
        <div class="col-sm"> 
        </div>
        <div class="col-sm" style="display:flex; justify-content:center">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColour" width="200" height="200" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
            </svg>
        </div>
        <div class="col-sm" style="display:flex; justify-content:right">
            <!-- Default dropleft button -->
            <div class="btn-group dropleft">
                <button type="button" class="btn btn-outline-success dropdown-toggle" id="dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </button>
                <div class="dropdown-menu" aria-labelledby="dd">
                    <!-- Dropdown menu links -->
                    <a class="dropdown-item" href="#">Take Photo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Choose from Gallery</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Cancel</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div>
    </div>
    <form class="mt-5">
        <div class="row m-1">
            <div class="col-sm">
                <div class="form-floating mb-3">
                <input type="text" name="name1" id="name1" class="form-control" value="Adam Smith">
                <label for="name1"> Name </label>
                </div>
                <div class="form-floating mb-3">
                <input type="email" name="name1" id="email" class="form-control" value="adamsmith@gmail.com">
                <label for="email"> Email </label>
                </div>
                <div class="form-floating mb-3">
                <input type="text" name="name1" id="location" class="form-control" value="Calgary,AB">
                <label for="location"> Location </label>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>

@code{

}
