@page "/editpage"
<link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">
<!-- <PageTitle> Profile Page </PageTitle> -->

<div class="page-container">
    <div class="page-header">
        <button class="btn btn-back"><i class="bi bi-arrow-left"></i></button>
        <h3>Edit Profile</h3>
        <button class="btn btn-save"> Save </button>
    </div>
    <hr>

    <p style="text-align:center; color:grey">You can edit your profile down here</p>
    <div class="user-avatar">
        <i class="bi bi-person-circle"></i>
        <button type="button" class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editPhoto">
            <i class="bi bi-pencil-fill"></i>
        </button>
    </div>

    <div class="modal fade" id="editPhoto" tabindex="-1" aria-labelledby="editPhotoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div id="plan-setting" class="modal-body">
                    <button type="button" class="btn btn-setting">Take Photo</button>
                    <hr />
                    <button type="button" class="btn btn-setting">Choose from Gallery</button>
                    <hr />
                    <button type="button" class="btn btn-setting">Cancel</button>
                    <hr />
                    <hr />
                    <button type="button" class="btn btn-setting btn-cancel" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <form class="mt-5">
        <div class="row m-1">
            <div class="col-sm">
                <div class="form-floating mb-3">
                <input type="text" name="name1" id="name1" class="form-control" value="Adam Smith">
                <label for="name1"> Name </label>
                </div>
                <div class="form-floating mb-3">
                <input type="email" name="name1" id="email" class="form-control" value="adamsmith@gmail.com">
                <label for="email"> Email </label>
                </div>
                <div class="form-floating mb-3">
                <input type="text" name="name1" id="location" class="form-control" value="Calgary,AB">
                <label for="location"> Location </label>
                </div>
            </div>
        </div>
    </form>
</div>

@code{

}
