@page "/EventPage"

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="page-header">
    <button type="button" class="btn btn-round">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
    </button>
    <div class="" style=""><h3>3-round Settlers Tournament</h3></div>
</div>

<img class="images-event" src="https://secure-content.meetupstatic.com/images/classic-events/449771821/333x188.webp" alt="DogShow" style="width:100%;">


<div class="tag-container">
    <button class="tag-btn">games</button>
    <button class="tag-btn">indoor</button>
    <button class="tag-btn">group-games</button>
    <button class="tag-btn">prizes</button>
    <button class="tag-btn">animal</button>
    <button class="tag-btn">Accessibility</button>
    <button class="tag-btn">Kid-friendly</button>
    <button class="tag-btn">Free-food</button>
</div>

<div>
    <br />
    <h6>
        This will be a 3-round Settlers tournament for fame, glory and prizes. $10 registration at the door. All proceeds will go towards prizes.
        <br />
        There will be 3 rounds. All players are guaranteed to play 2 games for a chance to play at a Round 3 Final Table.
    </h6>
    <h6>1000 9 Avenue SW, CA, AB</h6>
    <h6>12:45PM - 5:00PM MST, 13 Nov. 22</h6>
</div>

<div class="btn-container">
    <button class="search-event-button" id="B1" style="border:none;" type="submit"><i class="fa fa-bookmark fa-2x"></i></button>
    <button class="search-event-button" id="B2" style="border:none;" type="submit"><i class="fa fa-plus fa-2x"></i></button>
</div>

<h4>Similar Events</h4>

<div id="popular">
    <div class="card" style="width: 18rem;">
        <a href="/EventPage">
            <img class="card-img-top" src="https://secure-content.meetupstatic.com/images/classic-events/479928127/333x188.webp" alt="Card image cap">
        </a>
        <div class="card-body">
            <h5 class="card-title">Downtown Chess Meetup</h5>
            <p class="card-text">341 10 Ave SW, CA, AB</p>
            <p class="card-text">12:30PM - 8PM, 17 Nov. 22</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="/EventsSearch">
            <img class="card-img-top" src="https://www.meetup.com/_next/image/?url=https%3A%2F%2Fsecure-content.meetupstatic.com%2Fimages%2Fclassic-events%2F507958160%2F676x380.webp&w=1920&q=75" alt="Card image cap">
        </a>
        <div class="card-body">
            <h5 class="card-title">Gaming Legion</h5>
            <p class="card-text">138 Bowness Center NW, CA, AB</p>
            <p class="card-text">6:30PM - 9:30PM, 16 Nov. 22</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <a href="/EventPage">
            <img class="card-img-top" src="https://www.meetup.com/_next/image/?url=https%3A%2F%2Fsecure-content.meetupstatic.com%2Fimages%2Fclassic-events%2F504231601%2F676x380.webp&w=1920&q=75" alt="Card image cap">
        </a>
        <div class="card-body">
            <h5 class="card-title">Fallcon: Board Games</h5>
            <p class="card-text">4122 Brentwood Rd NW, CA, AB</p>
            <p class="card-text">12PM - 8PM, 19 Nov. 22</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.meetup.com/_next/image/?url=https%3A%2F%2Fsecure-content.meetupstatic.com%2Fimages%2Fclassic-events%2F503270803%2F676x380.webp&w=1920&q=75" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Online Gaming: Dead by Daylight</h5>
            <p class="card-text">Online</p>
            <p class="card-text">8PM - 1AM, 12-13 Nov. 22</p>
        </div>
    </div>
</div>



@code {

}
