@page "/explorepagefilter"

<div class="page-container">
    <h3>Filter</h3>
    <h5>Categries</h5>
    <div class="row">
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Art & Culture</label><br>
        </div>
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Shopping</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Fun & Games</label><br>
        </div>
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Food & Beverage</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Museums</label><br>
        </div>
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Nightlife</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Historic Sites</label><br>
        </div>
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Wildlife</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Parks</label><br>
        </div>
        <div class="col">
            <input type="checkbox" id="html" name="fav_language" value="HTML">
            <label for="html">Sports</label><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="html" style="color:#4E7779; margin-top: 0.5rem">+ More</label>
        </div>
    </div>

    <br />
    <label class="form-label" for="customRange1" style="font-size:larger;">Ratings</label>
    <div class="range">
        <input type="range" class="form-range" min="1" max="5" steps="0.5" list="tickmarks" />
        <datalist id="tickmarks">
            <option value="1" label="1+"></option>
            <option value="2" label="2+"></option>
            <option value="3" label="3+"></option>
            <option value="4" label="4+"></option>
            <option value="5" label="5"></option>
        </datalist>
    </div>

    <br />
    <h5>Location</h5>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">Outdoor</label><br>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">Indoor</label><br>

    <hr />
    <div class="form-controls">
        <button type="button" class="btn btn-cancel btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
        <button type="button" class="btn btn-apply">Apply</button>
    </div>

</div>

@code {

}
