@page "/"
@page "/explore"

<PageTitle>Explore</PageTitle>

<div class="page-container">
    <h3>Hello Adam, Where Would You Like To Go?</h3>

    <nav class="navbar navbar-light">
        <div class="input-group mb-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <a class="navbar-toggler" href="/explorepagefilter" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </a>

@*            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>*@
        </div>
    </nav>

    <h4>Popular Places</h4>

    <div id="popular">
        <a href="/amenitypage">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5a87961cbe42d637c54cab93/1617699528333-HPU0CRYCD73ZZTF6LZTW/calgary-tower.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Calgary Tower</h5>
                    <p class="card-text">115 9 Ave SE #161</p>
                </div>
            </div>
        </a>
        <a href="/amenitypage">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="https://az837918.vo.msecnd.net/publishedimages/Listings/2031/en-US/images/2/wilder-insitutecalgary-zoo-L-24.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Calgary Zoo</h5>
                    <p class="card-text">210 St. George's Drive NE</p>
                </div>
            </div>
        </a>
        <a href="/amenitypage">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5a5590fc0abd0444cba48ff0/1574914985887-GXC9K581T7Q59V3XU9MN/Cabin+Brewing+Company+Taproom+1+.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cabin Brewing Company</h5>
                    <p class="card-text">505 36 Ave SE</p>
                </div>
            </div>
        </a>
        <a href="/amenitypage">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="https://www.heritagepark.ca//sites/default/files/styles/even_list_style/public/2018-08/botsfords-harness.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Heritage Park</h5>
                    <p class="card-text">1900 Heritage Dr SW</p>
                </div>
            </div>
        </a>

    </div>

    <h4>Suggested Places</h4>

    <div id="popular">
        <a href="/amenitypage">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="https://az837918.vo.msecnd.net/publishedimages/articles/789/en-CA/images/2/collecting-experiences-at-the-glenbow-museum-L-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Glenbow Museum</h5>
                    <p class="card-text">130 9 Ave SE</p>
                </div>
            </div>
        </a>
        <a href="/amenitypage">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="https://www.avenuecalgary.com/wp-content/uploads/2018/12/Detours-VertigoTheatre.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Theatre Calgary</h5>
                    <p class="card-text">220 9 Ave SE</p>
                </div>
            </div>
        </a>
        <a href="/amenitypage">
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Stephen_Avenue_Walk._Calgary._%2828278179767%29.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Stephen Avenue Walk</h5>
                    <p class="card-text">340 8 Ave SW</p>
                </div>
            </div>
        </a>
    </div>

    <h4>Categories</h4>

    <div id="categories">
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://images.squarespace-cdn.com/content/v1/59ef2d3c9f8dce981401a30d/1592002341643-UCT10ZFLQ5GCJU8L1OVY/colorful+landscapes.jpg" alt="Card image cap">
                <p class="card-text2">Outdoor</p>
            </div>
        </a>
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_522735456_249841.jpg" alt="Card image cap">
                <p class="card-text2">Shopping</p>
            </div>
        </a>
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Expeditions_Header_Artwork_Card_Size_1.max-1000x1000.jpg" alt="Card image cap">
                <p class="card-text2">Art&Culture</p>
            </div>
        </a>
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://www.foodnavigator-asia.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/foodnavigator-asia.com/article/2019/12/23/big-names-big-stories-the-top-10-most-read-food-and-beverage-brands-stories-of-2019/10425041-1-eng-GB/Big-names-big-stories-The-top-10-most-read-food-and-beverage-brands-stories-of-2019.jpg" alt="Card image cap">
                <p class="card-text2">Food&Beverage</p>
            </div>
        </a>
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://cdn.britannica.com/51/194651-050-747F0C18/Interior-National-Gallery-of-Art-Washington-DC.jpg" alt="Card image cap">
                <p class="card-text2">Museums</p>
            </div>
        </a>
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://planning-org-uploaded-media.s3.amazonaws.com/image/Planning-2020-02-image26.jpg" alt="Card image cap">
                <p class="card-text2">Nightlife</p>
            </div>
        </a>
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://luxurycolumnist.com/wp-content/uploads/2022/02/the-colosseum-rome-italy.jpg" alt="Card image cap">
                <p class="card-text2">Historic Sites</p>
            </div>
        </a>
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Wildlife_at_Maasai_Mara_%28Lion%29.jpg" alt="Card image cap">
                <p class="card-text2">Wildlife</p>
            </div>
        </a>
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://upload.wikimedia.org/wikipedia/commons/8/81/Halleyparknovember.jpg" alt="Card image cap">
                <p class="card-text2">Parks</p>
            </div>
        </a>
        <a href="/amenitysearch">
            <div class="card2" style="width: 8rem;">
                <img class="card-img-top2" src="https://miro.medium.com/max/1400/0*BaQs4MaCPgxibQdE.jpg" alt="Card image cap">
                <p class="card-text2">Fun&Games</p>
            </div>
        </a>
    </div>
</div>