.page-container {
    width: 100%;
    padding: 1.5rem;
}

#searchButton {
    margin: 0;
}

#popular {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card {
    border-radius: 10%;
    border-color: rgba(111,111,111,0.2) transparent transparent;
}

#popular::-webkit-scrollbar {
    display: none;
}

#categories {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 1rem;
}

#categories::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: black;
}

.card2 {
    min-width: 160px;
    text-align: center;
}

.card-img-top2 {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.card-text2 {
    align-content: center;
}

.card-img-top {
    border-radius: 5%;
    width: 218px;
    height: 146px;
}

.bg-light {
    background-color: white;
}

.card-body {
    padding: 0.75rem 0.25rem;
}

h4 {
    margin-bottom: 0.75rem;
}

.card-text2 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}