@page "/"
@page "/explore"

<PageTitle>Explore</PageTitle>

<p>Hello Adam, Where Would You Like To Go?</p>

<nav class="navbar navbar-light">
    <div class="input-group mb-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<h4>Popular Places</h4>

<div id="popular">
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
    <a href="/amenitysearch">
        <div class="card" style="width: 10rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </a>
</div>

<h4>Categories</h4>

<div id="categories">
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
    <a href="#">
        <div class="card2" style="width: 8rem;">
            <img class="card-img-top2" src="https://i.pinimg.com/originals/90/17/0c/90170c4d3b53450e1555d65db2daac98.jpg" alt="Card image cap">
            <p class="card-text">Animal</p>
        </div>
    </a>
</div>