@page "/forget"

<div class="page-container">
    <div class="page-header">
        <h3>Forgot Password?</h3>
        <button class="btn btn-close"></button>
    </div>
    <hr>

    <div class="page-body">
        <p> Don't Worry! We got you covered.</p>
        <p> Just type in your registered email and press submit. Next, we will send you the reset password link to your registered email and by clicking that link, you can reset your password.</p>

        <form class="forget-form">
            <div class="form-floating mt-3 mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                <label for="email">Email</label>
            </div>

            <div class="form-controls">
                <button type="submit" class="btn btn-submit">Submit</button>
            </div>
        </form>
    </div>
</div>
