body {
    margin: 0;
}

.carousel-inner {
    width: 100%;
    height: 10rem;
    border-radius: 3%;
}

.tags > span {
    background-color: white;
    border: solid 1px #4E7779;
    color: #4E7779;
    border-radius: 5%;
    margin: 3px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px #ccc;
}

.tags {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    font-size: x-small;
    text-align: center;
    margin-left: 14rem;
    margin-top: 0.3rem;
}

#bookmark {
    width: 4rem;
}

#itinerary {
    width: 4rem;
}

#similar-amenities {
    display: flex;
    overflow: scroll;
    gap: 1rem;
    margin-bottom: 50px;
}

#similar-amenities::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: xx-small;
}

.title{
    display: flex;
}

h5 {
    font-size: smaller;
}

.top {
    display: flex;
}

.card-img-top2 {
    height: 2rem;
    width: 4rem;
    border-radius: 20%;
    margin-top: 0.5rem;
}

.card-body2 {
    display: flex;
    flex-direction: row;
    font-size: smaller;
    border: 1px solid #4E7779;
    border-radius: 0.25rem;
    gap: 5%;
}

.card-description2 {
    width: 14rem;
}

.card {
    border: none;
}

.reviews {
    font-size: x-small;
    margin-bottom: 1rem;
}

h6 {
    font-size: x-small;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.card-description2 > p {
    margin-bottom: 0.2rem;
}

.description > p {
    font-size: smaller;
    margin-bottom: 0.2rem;
}

.description {
    margin-bottom: 1rem;
}

.show-more {
    background-color: white;
    text-align: center;
    font-size: x-small;
    justify-content: center;
    color: blue;
    width: fit-content;
    margin: auto;
}

.card-img-top {
    border-radius: 5%;
    height: 6rem;
    width: 8rem;
}