@page "/login_new"
<link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
<link rel="stylesheet" href="Fa_icons/css/all.css" />
<!-- <PageTitle> Profile Page </PageTitle> -->

<div class="page-container">
    <div class="page-header">
        <h3>Login</h3>
    </div>
    <hr>
    <div>
        <form class="login-form">
            <div class="form-floating mt-3 mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                <label for="email">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>

            <div class="form-controls">
                <button type="submit" class="btn btn-login">Login</button>
                <a href="/forget" type="button" class="btn btn-forget">Forget Password?</a>
            </div>
        </form>
        <hr />
        <div class="alterns">
            <p> Do not have an account with us? </p>
            <b>Signup or Continue as Guest below!</b>
            <a href="signuppage" class="btn btn-signup">Signup</a>
            <a href="explore" class="btn btn-guest">Continue as Guest</a>
        </div>
    </div>
</div>

