.page-container {
    width: 100%;
    padding: 1.75rem;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3, p {
    margin: 0;
}

.form-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.btn-login {
    background-color: #4E7779;
    color: #F4F4E9;
    width: 100%;
}

.alterns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn-signup {
    color: #7E6D53;
    outline: solid;
    width: 100%;
}
