@page "/notificationspage"
<link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css%22%3E">
<!-- <PageTitle> Profile Page </PageTitle> -->

<!DOCTYPE HTML>
<html>
<head>
    <title> My Notifications </title>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col">
            <NavLink class="nav-link text-light" href="profilepage">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </NavLink>
        </div>
        <div class="col" style="border:1px solid #FFFFFF; display:flex; justify-content:center">
            <h1><b><i><u> Notifications </u></i></b></h1>
        </div>
        <div class="col">

        </div>
    </div>
    <hr>
    <div class="row mt-2">
        <div class="col-sm-8" style=text-align:center>
            <h3><b> Disney Concert : Frozen</b> </h3>
            <h5> SAIT, Calgary</h5>
            <h6> Tuesday, 6th December</h6>
            <p> Show starts at 2pm</p>
        </div>
        <hr>
        <div class="col-sm-8" style=text-align:center>
            <h3> <b>Christmas Eve Bash</b></h3>
            <h5> Mac Hall, UofC, Calgary </h5>
            <h6> Saturday, 24th December</h6>
            <p> Show starts at 6pm</p>
        </div>
        <hr>
    </div>
</div>
</body>
</html>
