@page "/guestprofile"

<div class="page-container">
    <a href="/signuppage" class="btn btn-signup">
        Sign Up
    </a>
    <a href="/loginpage" class="btn btn-login">
        Login
    </a>
</div>

@code {

}
