@page "/profile"

<div class="page-container">
    <div class="page-header">
        <h3> Profile</h3>
        <a class="nav-link btn-edit" href="editpage">
            <i class="bi bi-pencil-square"></i>
        </a>
    </div>
    <hr>
    <div class="user-info">
        <i class="bi bi-person-fill"></i>
        <h5> Adam Smith </h5>
        <h6> Calgary, AB </h6>
    </div>
    <hr>
    <div class="user-choices">
        <a class="btn btn-choice" href="bookmarkspage">Bookmarks</a>
        <a class="btn btn-choice" href="reviewspage">Reviews</a>
        <a class="btn btn-choice" href="settingspage">Settings</a>
        <a class="btn btn-logout" href="loginpage">Logout</a>
    </div>
</div>

@code{
    private int a = 0;
    private int b = 0;
    private int c = 0;

    private void Settings_fn()
    {
        a++;
    }
    private void Edit_fn()
    {
        b++;
    }
    private void Logout_fn()
    {
        c++;
    }
}
