.page-container {
    width: 100%;
    padding: 1.75rem;
}

.page-header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

h3 {
    margin:0;
}

.btn-edit {
    color: #4E7779;
}

.bi-pencil-square {
    font-size: 1.5rem;
}

.bi-person-fill {
    font-size: 10rem;
    width:fit-content;
    height:200px;
    margin-top: -1.5rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:1rem;
    margin: 1.5rem 0;
}

    .user-choices > a {
        text-decoration: none;
        color: #F4F4E9;
        font-size: large;
    }

.btn-choice {
    width: 100%;
    background-color: #4E7779;
    color: #F4F4E9;
}

.btn-logout {
    width: 100%;
    background-color: #7E6D53;
    color: #F4F4E9;
    margin-top: 0.5rem;
}