.page-container
{
    width:100%;
    height:100%;
    align-items:center;
    justify-content:center;
    padding:3rem;
    display:flex;
    flex-direction:column;
    gap:2rem;
}

.btn-signup {
    width:100%;
    background-color: #7E6D53;
    color: #F4F4E9;
    font-size:larger;
}

.btn-login {
    width: 100%;
    background-color: #4E7779;
    color: #F4F4E9;
    font-size: larger;
}