@page "/reviewspage"

<div class="page-container">
    <div class="page-header">
        <h3>Reviews</h3>
        <button class="btn btn-close"></button>
    </div>
    <hr>

    <div class="page-body">
        <div class="card review-card">
            <div class="card-body">
                <div class="review-header">
                    <div class="rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                    </div>
                    <p class="card-text">2020/09/30</p>
                </div>

                <h5 class="card-title">Calgary Towers</h5>
                <p>
                    If you are looking for the perfect view of the Calgary Skyline then this is the building you need to visit. The views of the Downtown Calgary and all the buildings is awesome.
                </p>
            </div>
        </div>
        <div class="card review-card">
            <div class="card-body">
                <div class="review-header">
                    <div class="rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                    </div>
                    <p class="card-text">2020/10/26</p>
                </div>

                <h5 class="card-title">Wyndham Garden Calgary Airport</h5>
                <p>
                    Staff was nice. Room was great. Very clean. Food service in lounge was slow although food was good. Shuttle staff was great.
                </p>
            </div>
        </div>
        <div class="card review-card">
            <div class="card-body">
                <div class="review-header">
                    <div class="rating">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                    <p class="card-text">2020/11/10</p>
                </div>

                <h5 class="card-title">Peace Bridge</h5>
                <p>
                    Great landmark. Gives helpful views of the city and river parks. There is an app that one can use for info but not necessary.
                </p>
            </div>
        </div>
    </div>
</div>

@code{

}
