@page "/reviewspage"

<!DOCTYPE HTML>
<html>


<head>
    <title> Settings </title>
    <link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/all.css%22%3E">
    
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2 col-sm-2">
            <NavLink class="nav-link text-light" href="profilepage">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </NavLink>
        </div>
        <div class="col-10 col-sm-10" style="display:flex; justify-content:left">
            <h1> Reviews </h1>
        </div>  
        <hr>
    </div>

    <div class="row mb-2">
        <div class="card" style="width:100%">
            
            <div class="card-body">
                <h5 class="card-title">Calgary Towers</h5>
                <p class="card-text">Calgary, AB</p>
                <p class="card-text">01 Nov. 22</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">
                        Ratings
                    </th>
                    <th scope="col"> 
                        Review 
                    </th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr>
                    <td>
                        4.8
                        <b-form-ratings></b-form-ratings>
                    </td>
                    
                    <td> 
                    If you are looking for the perfect view of the Calgary Skyline then this is the building you need to visit. The views of the Downtown Calgary and all the buildings is awesome.                       
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mb-2">
        <div class="card" style="width:100%">
            <div class="card-body">
                <h5 class="card-title">Wyndhyam Gardens</h5>
                <p class="card-text">Calgary, AB</p>
                <p class="card-text">26 Oct. 22</p>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">
                            Ratings
                        </th>
                        <th scope="col"> 
                            Review 
                        </th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                        <td>
                            4.4
                            <b-form-ratings></b-form-ratings>
                        </td>
                        
                        <td> 
                            Staff was nice. Room was great. Very clean. Food service in lounge was slow although food was good. Shuttle staff was great. Very prompt. Overall, I would recommend this location for staying near the airport
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="card" style="width:100%">
            <div class="card-body">
                <h5 class="card-title">Peace Bridge</h5>
                <p class="card-text">Calgary, AB</p>
                <p class="card-text">10 Nov. 22</p>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">
                            Ratings
                        </th>
                        <th scope="col"> 
                            Review 
                        </th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr>
                        <td>
                            3.9
                        </td>
                        
                        <td> 
                            Great landmark. Gives helpful views of the city and river parks. There is an app that one can use for info but not necessary                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
</div>
</body>
</html>
@code{

}
