@page "/settingspage"

<div class="page-container">
    <div class="page-header">
        <h3>Setting</h3>
        <button class="btn btn-close"></button>
    </div>
    <hr>

    <div class="page-body">
        <div class="setting-container">
            <h4>Data</h4>
            <p>Click the toggle switch to automatically save your trips so that you can access them offline</p>
            <div class="offline">
                <h5>Offline Trips</h5>
                <i class="bi bi-toggle-on"></i>
            </div>
        </div>
        <hr />
        <div class="setting-container">
            <h4>Notifications</h4>
            <p>Get notifications before your plan's timings start</p>
            <select class="form-select" aria-label="notify-time">
                <option value="30" selected>30 min (default)</option>
                <option value="15">15 min</option>
                <option value="45">45 min</option>
                <option value="60">60 min</option>
            </select>
        </div>
        <hr />
        <div class="setting-container">
            <h4>Account</h4>
            <p>Click the button below to delete your account</p>
            <button class="btn btn-delete">
                Delete Account
            </button>
        </div>
    </div>
</div>
