@page "/settingspage"

<!DOCTYPE HTML>
<html>


<head>
    <title> Settings </title>
    <link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/all.css%22%3E">
</head>
<body>
<div class="container">
    <div class="row mb-2">
        <div class="col">
            <button class="btn btn-success" style="width:40%; height:30%"> <i class="fa fa-angle-left"><NavLink class="nav-link text-light" href="profilepage">
                
                </NavLink></i></button>
        </div>
        <div class="col" style="border:1px solid #FFFFFF; display:flex; justify-content:center">
            <h1><b><i><u> Settings </u></i></b></h1>
        </div>
        <div class="col">
            
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            <h3><i>Data</i></h3>
        </div>
        <h6 style="text-align:center"> Offline Itinerary  <i>("[on]"--"[off]")</i> </h6>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm">
            <h3><i>Account</i></h3>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <button class="btn btn-outline-success">
                Delete Account
            </button>
        </div>
        <div class="col"></div>
    </div>
    <hr>
</div>
</body>
</html>