@page "/signuppage"

<link rel="stylesheet" href="../bootstrap-5.2.0-dist/css/bootstrap.css" />
<link rel="stylesheet" href="Fa_icons/css/all.css"/>
<!-- <PageTitle> Profile Page </PageTitle> -->

<div class="page-container">
    <div class="page-header">
        <h3>Signup</h3>
        <button class="btn btn-close"></button>
    </div>
    <hr>

    <p style="text-align:center; color: grey;">Fill your credentials to signup for our app</p>

    <form class="login-form">
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="name" placeholder="Adam Smith" required>
            <label for="name">Name</label>
        </div>

        <div class="form-floating mt-3 mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
            <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirm-password" placeholder="Password" required>
            <label for="confirm-password">Confirm Password</label>
        </div>

        <div class="form-controls">
            <button type="submit" class="btn btn-signup">Create Account</button>
        </div>
    </form>
</div>

@code{
    private void signup_success(){
        Console.WriteLine("Signup is successful");
    }
}
