.plan-card[b-ozac5kjzqk] {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.card-text[b-ozac5kjzqk] {
    margin: 0;
}

.btn-notify[b-ozac5kjzqk] {
    margin: 1rem;
    border-radius: 5rem;
    padding: 0;
    font-size: 1.35rem;
    color: darkgray;
}

.btn-notify:focus[b-ozac5kjzqk] {
    box-shadow: none;
}

.btn-notify:focus-within[b-ozac5kjzqk] {
    color: #eec23dcc;
    outline: none;
}
